<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rest.dubboProvider.mapper.HouseInfoMapper">
	<resultMap type="HouseInfo" id="houseInfoRM" autoMapping="true">
		<id column="house_id" property="houseId"/>
		<association property="houseStatus" javaType="HouseStatus" >
			<id column="hid" property="houseId"/>
			<result column="out_time" property="outTime"/>
			<result column="out_status" property="outStatus"/>
			<result column="new_price" property="newPrice"/>
		</association>
		<collection property="houseImages" ofType="HouseImage">
			<id column="image_id" property="imageId"/>
			<result column="himg_id" property="houseId"/>
			<result column="image_url" property="imageUrl"/>
		</collection>
	</resultMap>
	
	<select id="queryHouseListByTimeArea" resultMap="houseInfoRM">
		SELECT h.*,img.house_id himg_id,img.image_id,img.image_url
		FROM
			(SELECT * 
			FROM (SELECT * FROM tb_house_info h WHERE h.`area_id`=#{areaId} AND h.`status`=1 AND h.`status_auth`=3) h
			LEFT JOIN (SELECT hsi.house_id hid,hsi.`out_time`,hsi.`out_status`,hsi.new_price FROM tb_house_status hsi) hs ON h.`house_id`=hs.hid AND hs.`out_time`=#{outTime}  
			WHERE IFNULL(hs.`out_status`,1) &lt;&gt; 2 
			LIMIT 20 ) h
		LEFT JOIN (SELECT * FROM tb_house_image thi GROUP BY thi.house_id) img ON img.house_id=h.house_id 
	</select>
	
	<select id="queryHouseOrder" resultMap="houseInfoRM">
		SELECT h.*,img.house_id himg_id,img.image_id,img.image_url
		FROM
			(SELECT * 
			FROM (SELECT * FROM tb_house_info h WHERE h.`area_id`=#{areaId} AND h.`status`=1 AND h.`status_auth`=3) h
			LEFT JOIN (SELECT hsi.house_id hid,hsi.`out_time`,hsi.`out_status`,hsi.new_price FROM tb_house_status hsi) hs ON h.`house_id`=hs.hid AND hs.`out_time`=#{outTime}  
			WHERE IFNULL(hs.`out_status`,1) &lt;&gt; 2 
			ORDER BY h.${fieldN} ${condition} 
			LIMIT 20 )h
		LEFT JOIN (SELECT * FROM tb_house_image thi GROUP BY thi.house_id) img ON img.house_id=h.house_id 
	</select>
	
	<select id="queryHotHouseInfoTopTen" resultMap="houseInfoRM">
		SELECT h.*,img.house_id himg_id,img.image_id,img.image_url
		FROM
			(SELECT h.*,hs.*,IFNULL(h.evaluate,0)/h.price hot 
			FROM (SELECT * FROM tb_house_info h WHERE h.`area_id`=#{areaId} AND h.`status`=1 AND h.`status_auth`=3) h
			LEFT JOIN (SELECT hsi.house_id hid,hsi.`out_time`,hsi.`out_status`,hsi.new_price FROM tb_house_status hsi) hs ON h.`house_id`=hs.hid AND hs.`out_time`=#{outTime}  
			WHERE IFNULL(hs.`out_status`,1) &lt;&gt; 2 
			ORDER BY hot DESC 
			LIMIT 10 ) h
		LEFT JOIN (SELECT * FROM tb_house_image thi GROUP BY thi.house_id) img ON img.house_id=h.house_id 
	</select>
	<select id="queryHouseInfoById" resultMap="InfoRM">
		SELECT h.*,img.house_id himg_id,img.image_id,img.image_url 
		FROM (SELECT * FROM tb_house_info h WHERE h.house_id=#{houseId}) h
		LEFT JOIN tb_house_image img ON img.house_id=h.house_id 
	</select>
	<resultMap type="HouseInfo" id="InfoRM" autoMapping="true">
		<id column="house_id" property="houseId"/>
		<collection property="houseImages" ofType="HouseImage">
			<id column="image_id" property="imageId"/>
			<result column="himg_id" property="houseId"/>
			<result column="image_url" property="imageUrl"/>
		</collection>
	</resultMap>

</mapper>
